.wilderness-background {
  background: url('/img/wilderness/bg.jpg');
  background-size: cover;
  background-position: bottom;
  width: 660px;
  height: 510px;
  overflow: hidden;
}

.wilderness-sprite-wrapper {
  width: 350px;
  height: 350px;
  position: relative;
  bottom: 0;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -100%);
}
