.interaction-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
}

.interaction-view {
  flex-grow: 0;
  flex-shrink: 0;
}

.interaction-content {
  text-align: left;
  padding: 0.25em 16px;
}
