.sprite-portrait {
  max-width: 100%;
  max-height: 100%;
  background: none;
  border: 0;
  box-shadow: none;
}

.sprite-portrait.flipped {
  transform: scaleX(-1);
}

.kaomoji {
  position: absolute;
  animation: float-up 2s linear 1;
  opacity: 0;
}

.sprite-portrait[disabled] {
  cursor: default;
}

.sprite-portrait img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.1s;
}

.sprite-portrait:hover:enabled img {
  transform: translateY(-0.5%);
}

.sprite-portrait.sprite-is-excited:hover:enabled img {
  animation: bounce-up 2s linear infinite;
  transform-origin: 50% 100%;
}

.sprite-portrait:active:enabled img {
  transform: translateY(0.5%);
}

@keyframes bounce-up {
  0%, 100% {
    transform: translateY(0%) scaleY(1);
  }
  50% {
    transform: translateY(-3%) scaleY(1.01);
  }
}

@keyframes float-up {
  0% {
    transform: translateY(0%) scale(0.5, 0.5);
    opacity: 1;
  }
  30% {
    transform: translateY(-40%) scale(1, 1);
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: translateY(-40%) scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: translateY(-80%) scale(1, 1);
  }
}