html,
body,
#root {
  height: 100%;
}

.saylua {
  text-align: center;
  background: hsl(180, 12%, 92%);
  min-height: 100%;
}

.event-text {
  padding: 0.5em 0;
  line-height: 1.6em;
  font-size: 18px;
}

.change-sprite {
  border: 0;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.1s;
  font-size: 20px;
  border: 2px solid transparent;
}

.change-sprite.selected {
  border: 2px solid hsl(165, 82%, 51%);
}

.change-sprite:hover {
  transform: translateY(-0.5%);
}

.change-sprite:active {
  transform: translateY(0.5%);
}

.sprite-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.interaction-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  align-items: flex-start;
}

.interaction-view {
  flex-grow: 0;
  flex-shrink: 0;
}

.interaction-content {
  text-align: left;
  padding: 0.25em 16px;
}

button {
  margin: 0.25em 4px;
  padding: 0.25em 8px;
  border-radius: 16px;
  font-size: 16px;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.15);
  background: white;
  cursor: pointer;
  transition: background .2s ease-in-out,
    border-color .2s ease-in-out,
    color .2s ease-in-out;
}

button[disabled] {
  opacity: 0.5;
}

button:hover {
  background: #e7f8f6;
  border-color: hsla(165, 82%, 51%, 50%);
}

button:active {
  transform: translateY(2%);
}
