.App {
  text-align: center;
}

.event-text {
  padding: 0.5em 2em;
  line-height: 1.2em;
}

.wilderness-background {
  background: url('/img/wilderness/bg.jpg');
  background-size: cover;
  background-position: bottom;
  width: 70%;
  margin: auto;
}
